// COLORS
// main colors

$yellow: #f19b2c;
$yellow-dark: #c17c23;

$green: #17a55d;
$green-dark: #12844a;

$red: #db4c3f;
$red-dark: #af3d32;

$blue: #20c1ed;
$blue-dark: #1a9abe;

$white: #ffffff;
$black: #333333;

$border-grey: #f4f4f4;

// header

$header-color: #408eba;
$header-color-dark: #3a80a7;

